footer { 
    background-color: var(--footer-element-grey) ;
    width: 100%;
    padding: 0.5%;
    color: var(--footer-element-color);
    margin-top: 30%;
    
}
footer > img  { 
    width: 5%;
    
}