footer {
    background-color: var(--footer-element-grey);
    width: 100%;
    padding: 0.7%;
    color: var(--footer-element-color);
    margin-top: 10%;
    
  



    

}

footer>img {
    width: 5%;

}