.buttonPanel {  
    margin-top: 3%;
    height: 30px;
    display: flex;
    justify-content: center;
    
}  
.cell  { 
    margin-left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: red;
    background-color: rgb(255, 255, 255);
  
}
.cellActive { 
    margin-left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(221, 201, 87);
    border-radius: 20%;
    background-color: rgb(221, 201, 87);
}
.navButton{ 
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: red;
 }
 