
:root {
  line-height: 1.5;
  font-weight: 300;
  --header-element-color : #ed1a3b;
  --nav-element-color : #ffcd6f;
  --nav-element-hoverColor : #eca1a1;
  --footer-element-grey : #6a6a6a;
  --footer-element-color : #ffffff;
}
a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--nav-element-color);
}
a:hover {
  color: var(--nav-element-hoverColor);
}

body {
  width: 100%;
  margin: 0; /* Убираем отступы по вертикали */
  padding: 0;
}


